.booking-container {
    background-color: #ffffff;
    padding: 30px;
    /*border-radius: 10px;*/
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    width: 100%;
    max-width: 900px;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.booking-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 20px;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.react-calendar {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
}

.react-calendar__tile {
    aspect-ratio: 1;
    border-radius: 8px;
    transition: background-color 0.2s, transform 0.2s;
}

.react-calendar__tile--active {
    background-color: #e67644 !important;
    color: white;
    transform: scale(1.05);
}

.react-calendar__tile--now {
    background-color: #ffeb3b;
}

.timezone {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.available-times-container {
    text-align: center;
}

h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.time-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.time-button {
    background-color: #e67644;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.time-button:hover {
    background-color: #e67644;
}

.time-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
