.booking-form-page {
    display: flex;
    height: 100vh;
}

.booking-form-container {
    width: 100%;
    max-width: 500px;
    margin: 0;
    padding: 20px;
}

.booking-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.booking-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.booking-form label {
    font-size: 16px;
    color: #555;
}

.booking-form select,
.booking-form input[type="number"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

legend {
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

.feature-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.feature-checkbox label {
    font-size: 14px;
    color: #333;
}

.next-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #050f34;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: #050f34;
}
