.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #3798a5;
  font-family: 'Arial', sans-serif;
}

.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-box h2 {
  color: #2c2c2c;
  margin-bottom: 20px;
  font-size: 24px;
}

.input-container {
  margin-bottom: 20px;
  text-align: left;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #032324;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #155158;
}

.signup-link {
  margin-top: 15px;
  font-size: 14px;
  color: #2c2c2c;
}

.signup-link a {
  color: #106175;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
