.hero{
  flex: 1;
  /*width: 100%;*/
  min-height: 100vh;
/*background-image: url('./components/assets/kassai.jpg');*/
  background-color:rgb(151, 172, 177);
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.hero-text{
  text-align: center;
  max-width: 800px;
}
.hero-text h1{
  font-size: 60px;
    font-weight: 600;}

.hero-text p{
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
}
.menu{
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;

}