.sidebar {
  flex: 0 0 20%;
  background-color: rgb(2, 56, 70);
  /*background-color: rgb(14, 94, 114);*/
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
}

.sidebar > p {
  cursor: pointer;
}

.sidebar > p:hover {
  background-color: lightgray;
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: white;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin: 1em 0;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: rgb(255, 255, 255);
}

@media (max-width: 578px) {
  .sidebar{
    flex: 0 0 100%;
  }
}

.sidebar-link {
  display: block;
  width: 100%;
  padding: 20px 0;
  text-decoration: none;
  color: inherit;
}