.sidebar {
  flex: 0 0 20%;
  background-color: rgb(2, 56, 70);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  font-size: 18px;
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 1em 0;
  cursor: pointer;
}

@media (max-width: 578px) {
  .sidebar{
    flex: 0 0 100%;
  }
}