.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  z-index: 900;
  background-color: rgb(2, 56, 70);
  color: #fff;
  margin: 0;
  padding: 80px 0 0;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
}

.sidebar-item {
  margin: 0;
  padding: 0;
}

.sidebar-item:hover {
  background-color: lightgray;  /* Optional, to highlight the div when hovered */
}

.sidebar-link {
  display: block;
  width: 100%;
  padding: 20px 0;
  text-decoration: none;
  color: inherit;
}

.sidebar-link:hover {
  background-color: rgb(32, 86, 115);
}

@media (max-width: 578px) {
  .sidebar {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
