.title-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: left;
    color: gray;
    padding: 10px 15px;
}

.title-name, .item-name {
    flex: 25%;
    margin-bottom: auto;
    margin-top: auto;
}

.item-row {
    display: flex;
    justify-content: space-between;
    text-align: left;
    background-color: white;
    margin-bottom: 10px;
    padding: 20px 15px;
    border-radius: 5px;
    color: #333;
}

.filter-buttons button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.filter-buttons button.active {
    background-color: #007bff;
    color: white;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: darkred;
}

.update-button-dashboard {
    background-color: #3453a8;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 5px;
}

.update-button-dashboard:hover {
    background-color: #0c4250;
}
